/* -----------first-part-area ------------------------ */
.img-area img{
    width: 100%;
    height: 100%;
}
/*---------------------- Second-area ------------------------- */
.second-area{
    background-color:#F8F8F8
}